@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html::-webkit-scrollbar {
       @apply w-[.9rem];
    }
    html::-webkit-scrollbar-thumb {
        @apply bg-[#cecece] rounded-full
    }
    body {
        font-family: 'Open Sans', sans-serif;
    }
    .quiz-container {
        @apply grid gap-4;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .custom-radio-input {
        @apply appearance-none w-6 h-6 border border-[#ccc] rounded-md relative cursor-pointer transition-colors;
    }
    .custom-radio-input:checked::before {
        @apply content-['\2713'] text-[#fff] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .custom-radio-input:checked {
        @apply bg-[#4daaf7];
    }
    .overlay {
        @apply content-[''] absolute z-20 inset-0 bg-[#e6e6e6e8];
    }
    .spin {
        animation: spin 1s infinite;
    }
    .time-limit-tracker {
        @apply h-1 w-full bg-[#4DAAF7];
        animation: shrinking var(--time-limit) forwards;
    }
    @keyframes shrinking {
        to {
            @apply w-0;
        }
    }
    @keyframes spin {
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}
